<nav class="navbar navbar-expand-lg navbar-light bg-success shadow-sm">
  <a class="navbar-brand text-white font-weight-bold" href="#">Hazem's Medicines</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link text-white" routerLink="/medicaments">Accueil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/add-medicament">Ajouter Produits</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link text-white" routerLink="/rechercheParCategorie" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Recherche par Classification</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/richercheParnom">Recherche Par nom</a>
      </li>
    </ul>

    <form class="form-inline my-2 my-lg-0 search-form">

      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Rechercher</button>
    </form>
  </div>
</nav>
<router-outlet></router-outlet>
