<div class="container py-5">
    <div class="text-center mb-4">
        <h2 class="display-5 text-success">Modifier un médicament</h2>
    </div>
    <form (ngSubmit)="updateMedicament()">
        <div class="row mb-4">
            <div class="col-lg-6">
                <label class="form-label">Nom du médicament</label>
                <input type="text" [(ngModel)]="currentMedicament.nomMed" name="name" class="form-control shadow-sm" placeholder="Nom" required>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-lg-6">
                <label class="form-label">Description du médicament</label>
                <input type="text" [(ngModel)]="currentMedicament.descMed" name="description" class="form-control shadow-sm" placeholder="Description" required>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-lg-6">
                <label class="form-label">Prix du médicament (TND)</label>
                <input type="number" [(ngModel)]="currentMedicament.prixMed" name="prix" class="form-control shadow-sm" placeholder="Prix" required>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-lg-6">
                <label class="form-label">Marque</label>
                <input type="text" [(ngModel)]="currentMedicament.marqueMed" name="marque" class="form-control shadow-sm" placeholder="Marque" required>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-lg-6">
                <label class="form-label">URL de l'image</label>
                <input type="text" [(ngModel)]="currentMedicament.url" name="url" class="form-control shadow-sm" placeholder="Lien de l'image" required>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-lg-6">
                <label class="form-label">Code du médicament</label>
                <input type="number" [(ngModel)]="currentMedicament.code" name="code" class="form-control shadow-sm" placeholder="Code" required>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-lg-6">
                <label class="form-label">Date de création</label>
                <input type="date" [(ngModel)]="currentMedicament.dateCreation" name="creationDate" class="form-control shadow-sm" required>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-lg-6">
                <label class="form-label">Date d'expiration</label>
                <input type="date" [(ngModel)]="currentMedicament.dateExpiration" name="expirationDate" class="form-control shadow-sm" required>
            </div>
        </div>

        <!-- Ajout de la classification -->
        <div class="row mb-4">
            <div class="col-lg-6">
                <label class="form-label">Classification</label>
                <select 
                    class="form-control form-control-lg" 
                    id="idClass" 
                    name="idClass" 
                    [(ngModel)]="updatedClassId" 
                    required>
                    <option *ngFor="let class of classifications" [value]="class.idClass">
                        {{ class.nomClass }}
                    </option>
                </select>
            </div>
        </div>
        

        <div class="text-center">
            <button type="submit" class="btn btn-success btn-lg shadow-sm">Modifier</button>
        </div>
    </form>
</div>
<router-outlet></router-outlet>
