<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-4 mb-4" *ngFor="let medicament of medicaments">
      <div class="card shadow-sm border-0" style="width: 18rem; background-color: #f9f9f9; border-radius: 10px;">
        <img [src]="medicament.url" alt="{{ medicament.nomMed }}" *ngIf="medicament.url" class="card-img-top img-fluid" style="border-radius: 10px 10px 0 0;"/>

        <div class="card-body">
          <h5 class="card-title text-success font-weight-bold">{{ medicament.nomMed }}</h5>
          <p class="card-text text-muted">{{ medicament.descMed }}</p>
          <p class="card-text"><strong>Prix : </strong>{{ medicament.prixMed }} TND</p>
          <p class="card-text"><strong>Code : </strong>{{ medicament.code }}</p>
          <p class="card-text"><strong>Marque : </strong>{{ medicament.marqueMed }}</p>
          <p class="card-text"><strong>Date de création : </strong>{{ medicament.dateCreation | date:'dd/MM/yyyy' }}</p>
          <p class="card-text"><strong>Date d'expiration : </strong>{{ medicament.dateExpiration | date:'dd/MM/yyyy' }}</p>
          <p class="card-text"><strong>Classification : </strong>{{ medicament.classification.nomClass || 'Non classifié' }}</p>
          
          <div class="text-center">
            <!-- Affichage conditionnel des boutons -->
            <div *ngIf="authservice.isAdmin()">
              <button (click)="supprimerProduit(medicament)" class="btn btn-danger btn-block">Supprimer</button>
            </div>
            <div *ngIf="authservice.isAdmin()">
              <button class="btn btn-warning btn-block" [routerLink]="['/updateMedicament', medicament.nomMed]">Modifier</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
