<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-4 mb-4" *ngFor="let medicament of medicaments">
      <div class="card shadow-sm border-0" style="width: 18rem; background-color: #f9f9f9; border-radius: 10px;">
        <img [src]="medicament.url" alt="{{ medicament.name }}" *ngIf="medicament.url" class="card-img-top img-fluid" style="border-radius: 10px 10px 0 0;"/>

        <div class="card-body">
          <h5 class="card-title text-success font-weight-bold">{{ medicament.name }}</h5>
          <p class="card-text text-muted">{{ medicament.description }}</p>
          <p class="card-text"><strong>Prix : </strong>{{ medicament.prix }} TND</p>
          <p class="card-text"><strong>Code : </strong>{{ medicament.code }}</p>
          <p class="card-text"><strong>Marque : </strong>{{ medicament.marque }}</p>
          <p class="card-text"><strong>Date de création : </strong>{{ medicament.creationDate | date:'dd/MM/yyyy' }}</p>
          <p class="card-text"><strong>Date d'expiration : </strong>{{ medicament.expirationDate | date:'dd/MM/yyyy' }}</p>
          <p class="card-text"><strong>Classification : </strong>{{ medicament.classification.nomclass }}</p>
          
          <div class="text-center">
            <button (click)="supprimerMedicament(medicament)" class="btn btn-danger btn-block">Supprimer</button>
            <button class="btn btn-warning btn-block" [routerLink]="['/updateMedicament', medicament.name]">Modifier</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
